.theme-bg-black,
.theme-bg-black .it-testimonial-box:before,
.theme-bg-black .it-testimonial-box:after,
.theme-bg-black .header-sticky {
  background-color: black;
}

.theme-bg-black .h1,
.theme-bg-black .h2,
.theme-bg-black .h3,
.theme-bg-black .h4,
.theme-bg-black .h5,
.theme-bg-black .h6,
.theme-bg-black h1,
.theme-bg-black h2,
.theme-bg-black h3,
.theme-bg-black h4,
.theme-bg-black h5,
.theme-bg-black h6,
.theme-bg-black .tp-privacy-policy-box h4,
.theme-bg-black .dropdownCustom .dropdown-toggle,
.theme-bg-black .whiteText,
.theme-bg-black .solutionsTabs .tab,
.theme-bg-black .tp-pf-btn-group button,
.theme-bg-black .tp-ab-sv-tabs .nav-pills .nav-link,
.theme-bg-black .main-menu .headerUL li a {
  /* color: #c9c9ce; */
  color: white;
}

.theme-bg-black p,
.theme-bg-black .tp-section p,
.theme-bg-black .ca-service__item p,
.theme-bg-black .app-feature__info span,
.theme-bg-black .it-testimonial-box__review,
.theme-bg-black .it-blog-info,
.theme-bg-black .tp-footer__widget p,
.theme-bg-black .tp-footer__widget ul li a,
.theme-bg-black .tp-copyrigh-text,
.theme-bg-black .tp-footer-menu,
.theme-bg-black .tp-copyrigh-text a,
/* .theme-bg-black .main-menu .headerUL li a, */
/* .theme-bg-black .dropdownCustom .dropdown-toggle, */
.theme-bg-black.seo-feature-area .tp-section p,
.theme-bg-black *::marker,
/* .theme-bg-black .ourAchievement .mainDiv *, */
/* .theme-bg-black .solutionsTabs .tab, */
.theme-bg-black .tp-ha-about-fea li,
.theme-bg-black .it-service__item p,
.theme-bg-black .tp-privacy-policy-box *,
/* .theme-bg-black .tp-pf-btn-group button, */
.theme-bg-black .ca-team-item__content span,
/* .theme-bg-black .tp-ab-sv-tabs .nav-pills .nav-link , */
  .theme-bg-black .mean-container .mean-nav ul li a {
  /* color: white; */
  color: #c9c9ce;
}

/* ======================cards background================== */
.theme-bg-black .ca-service-wrapper,
.theme-bg-black .app-feature-box,
.theme-bg-black .tp-bs-service-box,
.theme-bg-black .it-service__item,
.theme-bg-black .sectionButton,
.theme-bg-black .solutionInfo .subTypes,
.theme-bg-black .singleContentDiv > div,
.theme-bg-black .tp-pf-btn-group button,
.theme-bg-black .tp-portfolio-item .singlePartner,
.theme-bg-black .app-feature-box-custom,
.theme-bg-black .singleMemberShipDiv,
.theme-bg-black .contactUsCard,
.theme-bg-black .it-cta-form .input-item input,
.theme-bg-black .it-cta-form .input-item select,
.theme-bg-black .it-cta-form .input-item-textarea textarea,
.theme-bg-black .da-blog-info,
.theme-bg-black .tp-ab-sv-tabs .nav-pills .nav-link {
  background-color: #1e2222;
  border: 2px solid #3d3d3d;
}
/* ======================cards background================== */

/* ==========language dropdown============= */
.theme-bg-black .dropdownCustom .dropdown-menu-custom li {
  background-color: #1e2222;
  backdrop-filter: blur(5px);
}

.theme-bg-black .dropdownCustom .dropdown-menu-custom li.color-dark {
  background-color: #00000030;
}
.theme-bg-black .dropdownCustom .dropdown-menu-custom li:hover {
  background-color: #00000070;
}

/* ==========language dropdown============= */

/* ===================footer================ */
.theme-bg-black .bs-footer__top-social a {
  border: 2px solid black;
}

.theme-bg-black .tp-footer__widget ul li:hover a {
  color: var(--tp-theme-redical);
}
/* ===================footer================ */

/* ===============header================ */
.theme-bg-black .header-border-button {
  border-bottom: none;
}

.theme-bg-black.is-header-not-sticky.onlyHome {
  background-color: #00000030;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.theme-bg-black.is-header-not-sticky.onlyHome .main-menu .headerUL li .submenu {
  background-color: #00000030;
  border: none;
  backdrop-filter: blur(5px);
}
.theme-bg-black .main-menu .headerUL li .submenu {
  border: 2px solid #3d3d3d;
}
.theme-bg-black.is-header-not-sticky.onlyHome
  .main-menu
  .headerUL
  li:hover
  > a {
  color: #324da0;
}

.theme-bg-black.is-header-not-sticky.onlyHome
  .main-menu
  .headerUL
  li:hover
  > a {
  color: #324da0;
}

/* ===============header================ */

.theme-bg-black .ourAchievement .mainDiv {
  background: #1e2222;
  border: 2px solid #f47f20;
  /* border: 20px solid white; */
}

.theme-bg-black .industriesInfoBackground {
  background: linear-gradient(to bottom, black 90px, white 20px);
}

/* ======service tech writing========== */
.theme-bg-black .it-service__item::after {
  -webkit-text-fill-color: black;
  background-image: none;
}

/* =============== /solutions/softwareengineering/================== */
.theme-bg-black .sectionButton.active {
  border: 2px solid transparent;
  border-left-width: 5px;
}

.theme-bg-black .sectionButton h4 {
  color: white;
}

/* =======privacy policy ======== */
.theme-bg-black .tp-inner-pg-list ul li:before {
  background-color: #c9c9ce;
}

.theme-bg-black.privacyPolicyDiv .subList li b {
  color: #c9c9ce !important;
}

.theme-bg-black.privacyPolicyDiv a {
  color: #cd5c5c;
}

/* ================about us================= */

.theme-bg-black .ab-computer-icon {
  background-color: #3d3d3d;
}

.theme-bg-black span.readMoreSpan {
  color: #cd5c5c;
}
.theme-bg-black span.readMoreSpan:hover {
  color: #cc090f;
}

/* =======contact us========== */
.theme-bg-black .it-cta-form .input-item input:focus {
  border: 2px solid #3d3d3d;
}

.theme-bg-black .tp-offcanvas-close {
  width: 30px;
  height: 30px;
}
.theme-bg-black .tp-offcanvas-close i {
  line-height: 30px;
}

.customLiUl li {
  padding-left: 20px;
  position: relative;
}

.customLiUl li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  color: white;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.theme-bg-black .da-blog-info::after {
  display: none;
}

.theme-bg-black #errorSubscribeEmail.errorMessage {
  color: red;
}
