.search_topbar {
  width: 300px;
}
@media (max-width: 1350px) {
  .search_topbar {
    width: 300px;
  }
}
/* @media (max-width: 1230px) {
  .search_topbar {
    width: 300px;
  }
} */
@media (max-width: 1100px) {
  .search_topbar {
    width: 250px;
  }
}
.search_topbar form {
  box-shadow: none;
  margin-top: 13px;
  position: relative;
  background-clip: padding-box;
  display: inline-block;
  width: 100%;
}
.search_topbar input {
  border-radius: 4px;
  border: 1px solid #118aef;
  height: 38px;
  font-size: 14px;
  color: #118aef;
  font-weight: 400;
  padding-left: 64px;
  background: 0 0;
  width: 100%;
  float: left;
  outline: 0;
}
.search_topbar input {
  margin-bottom: 0;
}
.search_topbar button {
  position: absolute;
  left: 0;
  height: 38px;
  background: 0 0;
  border: 0;
  box-shadow: none;
  width: 52px;
  cursor: pointer;
  padding: 6px 12px;
  user-select: none;
}
.search_topbar button span {
  text-indent: -9999px;
  width: 25px;
  height: 23px;
  display: inline-block;
  background: url(https://www.simplilearn.com/ice9/assets/header-new.svgz)
    no-repeat;
  background-position: -66px -20px !important;
  margin: -1px 5px;
}

.isHome {
  color: var(--tp-theme-redical) !important;
  font-weight: 600 !important;
}
